body{
    margin: 0;
    padding: 0;
    background: #f0ff7a;
}

.container{
    width: 300px;
    height: 320px;
    background: white;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
}

.icon h1{
    margin: 0;
    padding: 0;
}

.container p{
    position: relative;
    top: 55px;
    opacity: 0;
    transition: .5s ease;
    transition-delay: .3px;
    color: white;
}

.icon{
    height: 50px;
    width: 50px;
    margin: 0 auto;
    background: #262626;
    line-height: 50px;
    border-radius: 50%;
    color: white;
    transition: .5s ease;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container:hover .icon{
    height: 800px;
    width: 800px;
    line-height: 800px;
    background: #ff4f8b;
    transform: translate(-50%, -45%);
}

.container:hover p{
    opacity: 1;
}

.container:hover{
    box-shadow: -30px 0 0 #262626,
                 0 -30px 0 #262626,
                30px 0 0 #262626,
                0 30px 0 #262626;
}
